
.App{
  text-align: center;
}
.clear-btn{
  border: none;
  padding: .5rem 1rem;
  color: white;
  background-color: rgb(57, 240, 231);
  border-top-left-radius:.5rem;
  border-bottom-right-radius: .5rem;
  cursor: pointer;

}
.input{
  width: 80%;
  padding: 1rem;
  margin: 1rem;
}
.input:focus{
  border-radius: 1px;
  outline: none !important;
  box-shadow: 0 0 5px 1px  rgb(65, 214, 255);
}
